<!DOCTYPE html>
<html>

<head>
    <!--<script src="http://localhost:8080/socket.io/socket.io.js"></script> -->
    <title>Babbitt - Error</title>

	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel=
    'stylesheet' type='text/css'>
    <link href='/stylesheets/terminal.css' rel='stylesheet'>



</head>

<body>
  <h1>Error: Too many players</h1>
</body>

<script src="bower_components/jquery/jquery.min.js"></script>



<script>


</script>
</html>
