<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>B.A.B.B.I.T.T.</title>

    <!-- Bootstrap core CSS -->
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel=
    'stylesheet' type='text/css'>
    <link href='./stylesheets/bootstrap.min.css' rel='stylesheet'>
    <!-- Custom styles for this template -->
    <link href="./stylesheets/jumbo.css" rel="stylesheet">
    <script src="bower_components/jquery/jquery.min.js"></script>

  </head>

  <body>

    <div class="container">

      <div class="jumbotron">
        <h1>B.A.B.B.I.T.T.</h1>
        <p class="lead">
          <b>B</b>asic
          <b>A</b>rmored
          <b>B</b>attle
          <b>B</b>ridge
          <b>I</b>nterstellar
          <b>T</b>erritory
          <b>T</b>actis
        </p>
        <p>
          <font size="1">*working title</font>
        </p>
        <p>
          <a class="btn btn-lg btn-success" href="#" role="button">Engage Warp Drive</a>
        </p>
      </div>

    </div>
    <script>
    $(document).ready(function(){
        $('.btn-success').on('click', function(){
            var sectorID = Math.floor((Math.random()*1000)+1);
            window.location = 'sector?id='+sectorID
        })
    })
    </script>

  </body>
</html>
