






<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Babbitt</title>

    <!-- Bootstrap core CSS -->
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel=
    'stylesheet' type='text/css'>
    <link href='./stylesheets/bootstrap.min.css' rel='stylesheet'>
    <!-- Custom styles for this template -->
    <link href="./stylesheets/jumbo.css" rel="stylesheet">
    <script src="bower_components/jquery/jquery.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
  

      <div class="jumbotron">
        <h1>Babbitt Online</h1>
        <p class="lead">Enter via the following link, and send the link to a friend.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Enter Random Sector</a></p>
      </div>


      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div> <!-- /container -->
    <script>
    $(document).ready(function(){
        $('.btn-success').on('click', function(){
            var sectorID = Math.floor((Math.random()*1000)+1);
            window.location = 'sector?id='+sectorID
        })
    })

    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
